html {
    background-image: linear-gradient(to bottom, #181818, #464646);
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
}

input[type="file"] {
    display: none;
}

.customButtons {
    background: #EFEFEF;;
    padding: 3px;
    border: none;
    cursor: pointer;
}