html {
    background-image: linear-gradient(to bottom, #181818, #464646);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: transparent;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#content {
    width: 95%;
    height: 95%;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
    color: #aaaaaa;
}

#board {
    margin: auto;
    border-collapse: collapse;
}

#board tr, td {
    padding: 0;
}

#ghostImg {
    position: absolute;
}

.tiles[data-color = "Light"]:hover {
    background: #F7EC5B !important;
}

.tiles[data-color = "Dark"]:hover {
    background: #DAC332 !important;
}

.wrongTilesDark {
    background-color: #E06954 !important;
}

.wrongTilesLight {
    background-color: #EC7964 !important;
}

.wrongTilesDark:hover {
    background-color: #EC7964 !important;
}

.wrongTilesLight:hover {
    background-color: #E06954 !important;
}