html {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#taScrambles {
    resize: none;
    width: 75%;
    height: 25vh;
}

#scrambles {
    width: 100%;
    height: auto;
    text-align: center;
}

@media print{
    .scrSubDiv {
        width: 21cm;
        height: 29cm;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        page-break-after: always;
    }
}