html {
    background-image: linear-gradient(to bottom, #181818, #464646);
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
}

#header {
    height: 10%;
    width: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
}

#header a {
    margin: 0;
    color: #000000;
    font-weight: bold;
    font-size: xxx-large;
}

#header a:link {
    color: #CCCCCC;
}

/* visited link */
#header a:visited {
    color: #CCCCCC;
}

/* mouse over link */
#header a:hover {
    color: #888888;
}

/* selected link */
#header a:active {
    color: #AFB1B3;
}

.btnTabs {
    color: #aaaaaa;
    margin: 0;
    background: transparent;
    border: none;
    font-size: xxx-large;
}

/* Style the tab content */
.tabContent {
    width: 50%;
    text-align: center;
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
  
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.btnTabs:hover {
    color: #888888;
}

#content {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #bbbbbb;
}

a:link {
    color: #bbbbbb;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #bbbbbb;
}

/* mouse over link */
a:hover {
    color: #F1F1F1;
}

/* selected link */
a:active {
    color: #bbbbbb;
}