html {
    background: #353535;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #353535;
    height: 97.5%;
    margin: 2.5vh;
    padding: 0;
}

iframe {
    border: none;
}

#content {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

a:link {
    color: #3C3F41;
}

/* visited link */
a:visited {
    color: #3C3F41;
}

/* mouse over link */
a:hover {
    color: #AFB1B3;
}

/* selected link */
a:active {
    color: #AFB1B3;
}

#grid2Content {
    background: #CCCCCC;
    border: #888888;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px #888888;
    padding: .5vw;
    margin: 0 1vw;
}