html {
    background-color: #3C3F41;
    max-height: 90%;
    overflow: hidden;
}

body {
    background-color: #3C3F41;
    height: 100%;
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-column-gap: 0;
}

#cube {

}

#cube div {
    margin: 0;
}

#cube canvas {
    margin: 0 0 5px 0;
}

#cubeTop {
    height: 170px;
    width: 680px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0;
    margin: 0;
}
#cubeMid {
    height: 170px;
    width: 680px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0;
    margin: 0;
}
#cubeBot {
    height: 170px;
    width: 680px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0;
    margin: 0;
}

#colors {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
}

#colors canvas {
    right: 0;
    height: 75px;
    width: 75px;
}

#colors canvas:hover {
    cursor: pointer;
}

#up {
    background: black;
}
#upDiv {
    display: block;
}
#upDiv canvas:hover {
    opacity: 0.75;
}
#upDiv div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0;
}
#leftDiv {
    display: block;
}
#leftDiv canvas:hover {
    opacity: 0.75;
}
#leftDiv div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0;
}
#frontDiv {
    display: block;
}
#frontDiv canvas:hover {
    opacity: 0.75;
}
#frontDiv div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0;
}
#rightDiv {
    display: block;
}
#rightDiv canvas:hover {
    opacity: 0.75;
}
#rightDiv div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0;
}
#backDiv {
    display: block;
}
#backDiv canvas:hover {
    opacity: 0.75;
}
#backDiv div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0;
}
#downDiv {
    display: block;
}
#downDiv canvas:hover {
    opacity: 0.75;
}
#downDiv div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0;
}

#solveBtn {
    height: 5vh;
    width: 5vw;
    font-size: 20px;
}

#solutionTxt {
    font-size: 50px;
    margin: 0;
}