html {
    background-color: #555;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: transparent;
    height: 90%;
    margin: 0;
    padding: 1%;
    text-align: center;
}

button {
    position: absolute;
    z-index: 1;
    font-size: 3vh;
    transform: translateX(-50%);
}

#clockDisplay {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    gap: 1%;
}

.clockFaces {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 3fr 1fr 3fr 3fr;
    border-radius: 50%;
}

.clockColumns {
    display: grid;
    grid-template-rows: 3fr 3fr 1fr 3fr 1fr 3fr 3fr;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Ensures the clock is perfectly rounded */
    position: relative;
}

.clock::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%; /* Top padding of 100% maintains a 1:1 aspect ratio */
    float: left;
}

.clock > * {
    position: absolute;
}

.clock-hand {
    position: absolute;
    top: 12px; /* Start at the exact center bottom of the clock */
    left: 50% - 5px; /* Center the hand horizontally */
    width: 0; /* Width is zero because we're using borders to create the triangle */
    height: 0; /* Height is zero because we're using borders to create the triangle */
    border-left: 5px solid transparent; /* Left border is transparent */
    border-right: 5px solid transparent; /* Right border is transparent */
    transform-origin: 50% 100%; /* Ensures the triangle rotates around its bottom center */
}

.clock-center {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    transform-origin: 50% 50%;
}

.pin {
    position: relative; /* Make sure .pin is positioned */
    margin: 10%;
    border-radius: 50%;
}

#fClock .pin {
    background-color: #252525;
}

#bClock .pin {
    background-color: #ddd;
}

.pinActive::before {
    content: ''; /* Necessary for creating a pseudo-element */
    position: absolute; /* Position it in relation to .pin */
    top: 25%; /* Adjust to position the square between the circles */
    left: 50%;
    transform: translate(-50%, -50%); /* Center the square horizontally and vertically */
    width: 98%; /* Size of the square, adjust as needed */
    height: 80%; /* Size of the square, adjust as needed */
}

.pinActive::after {
    content: ''; /* This is necessary to create a pseudo-element */
    position: absolute; /* Position it in relation to .pin */
    top: -20%; /* Adjust this value to move the circle above .pin */
    left: 50%;
    transform: translate(-50%, -50%); /* Center the circle horizontally and move it slightly above */
    width: 100%; /* Size of the circle, adjust as needed */
    height: 100%; /* Size of the circle, adjust as needed */
    border-radius: 50%; /* Make it round */
}

#fClock .pinActive {
    background-color: #252525 !important;
}

#fClock .pinActive::before {
    background-color: #252525 !important;
}

#fClock .pinActive::after {
    background-color: #252525 !important;
    border: 1px solid #ddd;
}

#bClock .pinActive {
    background-color: #ddd !important;
}

#bClock .pinActive::before {
    background-color: #ddd !important;
}

#bClock .pinActive::after {
    background-color: #ddd !important;
    border: 1px solid #252525;
}

#fClock {
    background-color: #ddd;
}

#bClock {
    background-color: #252525;
}

#fClock .clock {
    background-color: #252525;
}

#bClock .clock {
    background-color: #fff;
}

#fClock .clock-hand {
    border-bottom: 50px solid #fff;
}

#fClock .clock-center {
    background-color: #fff;
}

#bClock .clock-hand {
    border-bottom: 50px solid #000;
}

#bClock .clock-center {
    background-color: #000;
}

.wheel {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff0099;
    margin: 20%;
    border-radius: 50%;
    position: relative;
}

.wheel:hover {
    background-color: #ffff00fe;
}

.arrow {
    z-index: 1;
    width: 0;
    height: 0;
    border-left: 10px solid transparent; /* Adjust the size as needed */
    border-right: 10px solid transparent; /* Adjust the size as needed */
    border-bottom: 20px solid;
    position: relative;
}

.arrow::after {
    content: "";
    position: absolute;
    top: 10px; /* Adjust so it starts right under the arrow point */
    left: -2.5px; /* Adjust to align with the arrow sides */
    width: 5px; /* This should be the same as the border-bottom of the arrow */
    height: 25px; /* This is the height of the arrow tail */
    background-color: black;
}

.arrow-ur {
    transform: rotate(45deg) translateY(-10px);
}

.arrow-dr {
    transform: rotate(135deg) translateY(-10px);
}

.arrow-ul {
    transform: rotate(-45deg) translateY(-10px);
}

.arrow-dl {
    transform: rotate(-135deg) translateY(-10px);
}