html {
    background-image: linear-gradient(to bottom, #181818, #464646);
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    width: fit-content;
    height: auto;
}

h1 {
    color: white;
}

.puzzleBox {
    background-color: blue;
}

#puzzles {
    
}

puzzle {
    background-color: #f1f1f1;
}

puzzle h1, puzzle img {
    width: auto;
}