html {
    background-image: linear-gradient(to bottom, #181818, #464646);
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#optionsDiv {
    min-width: 30%;
    max-width: 40%;
    min-height: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
    padding: 1%;
    margin-right: auto;
}

#content {
    height: 60%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#contentLeft {
    margin-top: 20%;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#contentMiddle {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#contentRight {
    height: 100%;
}

#solution {
    visibility: hidden;
}

#tblRadBut {
    min-width: 25%;
    table-layout: fixed;
    border-collapse: collapse;
    color: #aaaaaa;
    font-size: 2vh;
    text-align: center;
}

h1 {
    text-align: center;
    color: #aaaaaa;
    font-size: 5vh;
}

#letterPair {
    font-size: 7vh;
}

#contentLeft > button {
    width: 50%;
    margin: 5%;
}

#timeList {
    max-height: 80%;
    width: 75%;
}

#timeList tr td {
    border-collapse: collapse;
    color: #aaaaaa;
    font-size: 2vh;
    font-family: monospace;
}

#timer {
    position: relative;
    top: 50%;
    font-size: 10vh;
}

#btnDiv {
    height: 20%;
    text-align: center;
}

#btnDiv > button {
    position: relative;
    bottom: 0;
    font-size: 3vh;
    font-family: monospace;
}

#selLetterScheme {
    font-size: 3vh;
    font-family: monospace;
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555; 
}