html {
    background: #1E1E1E;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#pbList table {
    width: 50%;
    table-layout: fixed;
    border-collapse: collapse;
    color: white;
    text-align: center;
}

#pbList table, tr, th, td {
    border-spacing: 1vh;
}

#content {
    padding: 1vh;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#scramble {
    height: 10vh;
    margin: 0;
    display: grid;
    place-items: center;
}

#scramble h1 {
    color: #FFFFFF;
    font-size: 3vh;
    font-family: monospace;
}

#display {
    height: 80vh;
    display: grid;
    place-items: center;
}

#display h1 {
    color: #FFFFFF;
    font-size: 15vh;
    font-family: Verdana;
}

.svgScramble {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
}

#btnOptions {
    margin-bottom: 1vh;
    width: 10%;
    height: auto;
}

#btnOptions:hover {
    opacity: 0.75;
}

#outerOptions {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

#innerOptions {
    position: fixed;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    border-radius: 10px;
    background-color: #1E1E1E;
    border: 1px solid black;
    padding: 1%;
}