html {
    background: #1E1E1E;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#left {
    height: 100vh;
}

#pbList {
    height: 10vh;
    border-collapse: separate;
    border-spacing: 0 1vh;
    border-bottom: solid 1px white;
}

#pbList, #timeList, #timeListHeading {
    width: 75%;
    table-layout: fixed;
    border-collapse: collapse;
    color: white;
    text-align: center;
}

#pbList, #timeList, #timeListHeading, tr, th, td {
    border-spacing: 1vh;
}

.cellToClick:hover {
    opacity: 0.75;
    cursor: pointer;
}

#content {
    padding: 1vh;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#scramble {
    height: 10vh;
    margin: 0;
    display: grid;
    place-items: center;
}

#scramble h1 {
    color: #FFFFFF;
    font-size: 3vh;
    font-family: monospace;
}

#display {
    height: 80vh;
    display: grid;
    place-items: center;
}

#display h1 {
    color: #FFFFFF;
    font-size: 15vh;
    font-family: Verdana;
}

.svgScramble {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
}

#btnOptions {
    margin-bottom: 1vh;
    width: auto;
    height: 5vh;
}

#btnOptions:hover {
    opacity: 0.75;
    cursor: pointer;
}

#outerOptions {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

#innerOptions {
    position: fixed;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    border-radius: 10px;
    background-color: #1E1E1E;
    border: 1px solid black;
    padding: 1%;
}

/* width */
::-webkit-scrollbar {
    width: 0;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent; 
}