html {
    text-align: center;
    height: 100%;
}

body {
    background-image: url('Bilder/bakgrunn.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    height: 100%;
    position: absolute;
    right: 0;
    padding: 3vh 3vh;
}

header {
    margin: 0 0 23vh 20vw;
    text-align: right;
}

#tittel {
    padding-bottom: 1vh;
    border-bottom: solid black 1px;
}

h1 {
    margin: 0;
}

table {
    margin: auto;
}

table tr {
    text-align: center;
}

a :hover {
    opacity: .75;
}

a {
    margin: 1vh;
}

img {
    width: auto;
    height: 25vh;
}