html {
    background-image: linear-gradient(to bottom, #181818, #464646);
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#content {
    width: 100%;
    height: 100%;
    margin: 1%;
    text-align: center;
}

#drawing {
    margin: 0%;
}

label {
    color: #aaaaaa;
}