html {
    background-image: linear-gradient(to bottom, #181818, #464646);
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: #aaaaaa;
}

html, body, h1, h2, input, label {
    font-family: monospace;
}

body {
    background: transparent;
    width: 95%;
    height: 95%;
    margin: auto;
}

#scrambleDiv {
    width: 90vw;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
}

#svgScramble1, #svgScramble2 {
    width: 50%;
    margin: auto;
}

#inputDiv {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    gap: 1%;
}

input {
    width: 100%;
    font-size: 3vh;
}