html {
    background-image: linear-gradient(to bottom, #181818, #464646);
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: #aaaaaa;
}

body {
    background: transparent;
    width: 100%;
    height: 100%;
    margin: auto;
}

#scrambleContainer {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
}

input[type='text'] {
    font-family: monospace;
}

#content {
    width: 95%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 10fr 5fr 5fr;
    gap: 0;
}

#nissContainer {
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#nissNormal {
    width: 100%;
    height: 100%;
    border-right: 1px solid black;
}

#nissInverse {
    width: 100%;
    height: 100%;
}

#nissInverse h2 {
    text-align: end;
}

.niss {
    width: 95%;
    height: 70%;
    margin: auto;
}

h2 {
    text-decoration: underline;
}

#solution {
    width: 100%;
    border-top: 1px solid black;
}

.steps {
    display: grid;
    grid-template-columns: 1fr 15fr 10fr 1fr;
}

.inpStepsN {
    width: 100%;
    -moz-appearance: textfield;
}

.inpStepsN::-webkit-outer-spin-button,
.inpStepsN::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#drawScrambleDiv {
    width: 20%;
    margin: auto;
}