html {
    background: #1E1E1E;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}

#menu, #room {
    padding: 1vw;
}

#rooms {
    border-collapse: collapse;
}

#rooms th, td {
    background-color: transparent;
    padding: 2vw;
}

#rooms tr:nth-child(even) {
    background-color: #2D2F33;
}

#timeTable {
    border-collapse: collapse;
}

#timeTable th, td {
    border: 1px solid black;
    padding: 1vh;
    text-align: end;
}

h3 {
    margin: 0;
}

.cuber {
    color: #F76501;
}