html {
    background: #1E1E1E;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}

#menu, #room {
    padding: 1vw;
}

#rooms th, td {
    padding: 0 2vw;
}

#rooms tr:nth-child(even) {
    background-color: #2D2F33;
}