html {
    background: #f1f1f1;
}

body {
    margin: 1vw;
}

#grid {
    display: grid; grid-template-columns: 1fr 1fr; width: 40%;
}

#input {
    margin-bottom: .5vw;
}

#tbl {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}