html {
    background-image: linear-gradient(to bottom, #181818, #464646);
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555; 
}