html {
    height: 100%;
    text-align: center;
    background: #f1f1f1;
}

body {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr 9fr;
}

#newDrawingBox {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

#innerNewDrawingBox {
    position: fixed;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    border-radius: 10px;
    background-color: #555555;
    padding: 1%;
}

#saveBox {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

#innerSaveBox {
    position: fixed;
    width: 60%;
    height: 60%;
    top: 20%;
    left: 20%;
    border-radius: 10px;
    background-color: #555555;
    padding: 1%;
}

#header {
    background: #555555;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

#subHeader {
    text-align: left;
}

#subHeader button {
    background: #606060;
}

#content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 15fr 2fr;
    background: #333333;
}

#menu {
    background: #888888;
}

#canvasBoard {
    margin: auto;
    height: 90%;
    width: 90%;
}

#pixelBoard {
    background: url("background2.png") repeat;
    margin: auto;
}

#menu button {
    margin: 5% 5% 0 5%;
    width: 90%;
}

#inputColor {
    margin: 5% 5% 0 5%;
    width: 90%;
}

.pixel {
    height: 100%;
    background: transparent;
    border: solid rgba(0,0,0,0.25) 1px;
}