html {
    background: #1E1E1E;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: transparent;
    height: 100%;
    margin: 0;
    padding: 1%;
    overflow: hidden;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#inpAlg {
    width: 80vw;
    font-size: 3vh;
}
h1 {
    font-size: 5vh;
}