html {
    background: #1E1E1E;
    margin: 0;
}

body {
    margin: 0;
}

#sudokuBoard {
    margin: 1vh;
}

#sudokuBoard table {
    width: 50vh;
    height: 50vh;
    border-spacing: 0;
    table-layout: fixed;
    background: #f1f1f1;
}

#sudokuBoard td {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    cursor: default;
    white-space: nowrap;
}

#sudokuBoard tr {
    white-space: nowrap;
}

#sudokuBoard tr:nth-child(1) td {
    border-top: 3px solid black;
}

#sudokuBoard tr:nth-child(9) td {
    border-bottom: 3px solid black;
}

#sudokuBoard tr td:nth-child(1) {
    border-left: 3px solid black;
}

#sudokuBoard tr td:nth-child(9) {
    border-right: 3px solid black;
}

#sudokuBoard tr td:nth-child(3), #sudokuBoard tr td:nth-child(6) {
    border-right: 3px solid black;
}

#sudokuBoard tr:nth-child(3) td, #sudokuBoard tr:nth-child(6) td {
    border-bottom: 3px solid black;
}

.activeTD {
    border: 3px solid greenyellow !important;
}

button {
    margin: 1vh;
}