html {
    background: #353535;
    height: 100%;
    margin: 0;
    padding: 1%;
}

body {
    background: #353535;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 1%;
    color: black;
}

#cubeDisplayDiv {
    width: 100%;
    height: 100%;
    position: relative;
}

#cubeDisplay {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#cubeDisplay > canvas {
    margin: auto;
}

#analysisDiv {
    overflow-y: scroll;
    display: grid;
    grid-template-rows: 1fr 3fr 7fr 1fr;
    grid-gap: 2%;
    z-index: 1;
}

#btnPlay {
    position: absolute;
    z-index: 1;
}

textarea {
    padding: 0 1%;
}

#inputTime {
    padding: 0 1%;
}

#tpsDisplay {
    padding: 0 1%;
}

#tpsDiv {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555555; 
}