html {
    background-image: linear-gradient(to bottom, #181818, #464646);
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
}

#cubeDisplay {
    position: absolute;
    height: 100%;
    margin: auto;
    text-align: center;
}

#buttonDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    width: 75%;
    height: 5vh;
    margin: auto;
}

label {
    color: #aaaaaa;
}

input[type='checkbox'] {
    margin: 0.1%;
    height: 1vw;
    width: 1vw;
}

h1 {
    color: #aaaaaa;
}

#time {
    font-size: 8vh;
    text-align: end;
}

#moves, #tps {
    font-size: 5vh;
    text-align: end;
}

span {
    color: #aaaaaa;
}

#keysDiv {
    position: absolute;
    left: 1%;
}

#keysDiv input {
    width: 25%;
    text-align: center;
}

#timeAndMoves {
    position: absolute;
    right: 1%;
}